body{
  background-color: rgb(30, 27, 49);

}
header {
  height: 70px;
  background-color: aliceblue;
}
main {
  height: calc(100vh - 120px);
  color:white;
}

footer {
  height: 50px;
  background-color: aliceblue;
}

.k_container{
  width: 62%;
  height: 100%;
  margin: 0 auto;
}
.main_container{
  width: 480px;
  height: 480px;
  
}
.logo{
  line-height: 70px;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  color:white;  
  cursor: pointer;
 }

.box-veryhard{
  width: calc(100% / 7);
  height: calc(100% / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  color:white;
  cursor: pointer;

}
 .box-hard{
  width: calc(100% / 9);
  height: calc(100% / 9);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  color:white;
  cursor: pointer;
 }

 .box-easy{
  width: calc(100% / 10);
  height: calc(100% / 10);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  color:white;
  cursor: pointer;
 } 

.box.clicked.odd{
  background-color: brown;
}
.box-clicked{
  background-color: rgb(52, 138, 128);

}

.box span{
  display:none;
}

.box.clicked span{
  display:block;

}

.inpt_right{
  width: 300px;
}

.debug {
  background-color: rgba(196, 77, 77, .5);
} 

